.cart-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  padding: 2rem 2rem;
}
.qty-item{
  display: flex;
  width: 20px;
  height: 20px;
  text-align: center;
}
.qty-item p{
  width: 20px;
  height: 20px;
  color: white;
  font-weight: bold;
  background-color: rgba(20, 204, 66, 0.6);
  border-radius: 1rem;
  margin: 0 auto;
  padding: 2px 0;
}
