.main-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.main-container h1{
  width: 100%;
  text-align: center;
}
.navbar{
  width: 100%;
}
.preloader-container{
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
